
 .main{
    display: flex;
    height: 100vh;
    width: 100%;
 }
 .abcd{

    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
  
     }
 nav {
    
  
    height: 100%; 
    background: #ccc;
    padding: 20px;
    margin: 20px;
  }
 
  nav ul {
    list-style-type: none;
  margin: 20px;
  }

  .esh{

    height: fit-content;
  
  }
  .esh div{
    display:inline-block;

   background-color: aqua
  ;

   
  }
  
  .second{
 width: fit-content;
 height: 100px;
 
 background-color: aqua;
   color: blue;
   border-radius: 10px;
   
 margin-top: 20px;
  }
  .second img{
    
    padding:5px ;
margin: 0%;
    height: fit-content;
   background-color: aqua;
    border-radius: 100%;
 
  }
  
  .second p{
    margin: 0%;
   padding-left: 20px;
   background-color: aqua;
  }

 .first  {
  width: 100%;
  height: fit-content;
  background-color: white;
 }